.container {
  margin-top: 50px !important;
}

.material-icons {
  cursor: pointer;
  margin-left: 5px;
}

.collection-item {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  color: red;
}

.vote-box {
  display: flex;
  align-items: center;
}
